#title{
 
    padding: 10px 10px;
    margin: 0 0 30px;
    color: ivory;
    background-color: brown;
    text-align: center;
}

*{
    background-color: lightsalmon;
}

p{
    font-size: large;
}

img{
    display: block;
    margin: 0 auto;
}

h2,li{
    display: inline-block;
    margin: 0 40%;
}

